{% extends "home/base.html" %}

 {% block style %}
 
 {% endblock %}
 
 {% block script %}
 
 {% endblock %}
 
 {% block content %}
 
 <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Sistema Antidoping Tecnológico</h1>
        <p>Sistema desarrollado por alumnos del Tecnológico de Monterrey con la finalidad de apoyar en el registro,mantenimiento y operación del departamento de Control de Adicciones .</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <hr>

    </div> <!-- /container -->
 
 {% endblock %}