{% extends "home/base.html" %}
{% load crispy_forms_tags %}

 {% block style %}
 
 <link href="{{ STATIC_URL }}CSS/tag-it.css" rel="stylesheet" type="text/css">
 <link href="{{ STATIC_URL }}CSS/jquery-ui-1.10.1.custom.css" rel="stylesheet" type="text/css">
 <link href="{{ STATIC_URL }}CSS/jquery.tagsinput.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #icons{
    float:right;
  }
 </style>
 
 {% endblock %}
 
 {% block script %}
 
 <script src="{{ STATIC_URL }}JS/jquery-1.9.1.min.js"></script>
 <script src="{{ STATIC_URL }}JS/jquery-ui-1.10.1.custom.js" type="text/javascript" charset="utf-8"></script>
 <script src="{{ STATIC_URL }}JS/jquery.tagsinput.js" type="text/javascript" charset="utf-8"></script>
 
 {% endblock %}
 
 {% block content %}
 
 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->

    <div class="hero-unit">
      <table class="table table-hover">
      <th>Folio</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Revisar encuesta</th>
      <!-- iterar sobre las encuestas -->
      {% for encuesta in encuestas %}
        <tr> <!-- inicia el renglon -->
        	<td>{{encuesta.folio}}</td> <!-- insertar el folio de la encuesta -->
          <td>{{encuesta.inscrito.estudiante.nombre}}</td>
          <td>{{encuesta.inscrito.estudiante.apellido}}</td>
          <td>
          <a href="/revisar_encuesta/{{encuesta.id}}">Revisar</a>
          <!-- <div id="icons">
            <i class="icon-search"></i>
          </div> -->
          </td>
        </tr> <!-- cerrar el renglon -->
      {% endfor %}
      </table>
    </div>
      <hr/>
</div> <!-- /container -->
 
 {% endblock %}
