{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<link href="{{ STATIC_URL }}CSS/tag-it.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery-ui-1.10.1.custom.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery.tagsinput.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}JS/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}JS/jquery-ui-1.10.1.custom.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}JS/jquery.tagsinput.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
 
 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
       <center>
       <h3>¡Tu encuesta ha sido registrada!</h3>
       <h3>Pasa a entregar el Ipad para continuar</h3>
       <h3>Gracias y que tengas excelente día</h3>
       <a href="/autenticacion_encuesta/"><input type="button" class="btn btn-primary" value="OK"></button></a>
       </center>
      </div>
      <hr>
    </div> <!-- /container -->
 
 {% endblock %}
